*{
    margin: 0;
    box-sizing: border-box;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-color: rgb(97, 205, 224);
}